2247243_CAt1/studentdetails.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="college">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" maxOccurs="6" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Id"/>
              <xs:element type="xs:string" name="Stu_Name"/>
              <xs:element type="xs:string" name="Stu_Course"/>
              <xs:element type="xs:int" name="Stu_Sem"/>
              <xs:element name="Stu_Sub1">
           
              </xs:element>
            
                <xs:element type="xs:int" name="Stu_Sub2"/>
              <xs:element type="xs:int" name="Stu_Sub3"/>
              <xs:element type="xs:int" name="Stu_Total"/>
              <xs:element type="xs:float" name="Stu_Avg"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>